* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #C02F3A;
}

@font-face {
    font-family: Antonellie;
    src: url(Antonellie\ Callygraphy\ Demo.otf);
}

@font-face {
    font-family: BoisSans;
    src: url(BoisdeJasminSans-Regular.otf);
}

@font-face {
    font-family: BoisScript;
    src: url(BoisdeJasminScript-Regular.otf);
}

.antonellie {
    font-family: Antonellie;
}

.bois-sans {
    font-family: BoisSans;
}

.bois-script {
    font-family: BoisScript;
    font-weight: inherit;

}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

nav {
    overflow: initial;
    overflow-x: clip
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 5px;
}

a {
    text-decoration: none;
}

textarea {
    border: none;
    outline: none;
    color: #C02F3A;
}

textarea::placeholder {
    text-align: center;

}

.background-div {
    width: 100%;
    height: 100vh;
}

#btn-menu {
    display: none;
    z-index: 3;
}

#btn-form-submit {
    width: 200px;
    height: 25px;

}

#form-RSVP {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.mapa {
    width: 100%;
    height: 100%;
    padding: 0 15%;
    margin-top: 1rem;
}

.map-container {
    height: 66%;
    width: 80%;
    margin: 0 auto;
}

.opcion-boda {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.opcion-boda input {
    margin-right: 10px;
}

.fix-top {
    position: fixed;
    top: 0;
}

nav {
    width: 100%;
}

#nombre-form {
    border-radius: 30px;
    margin: 2rem 0;
    width: 60%;
}

.light-white {
    background-color: #FAF3f5;
}

.light-pink-background {
    background-color: #F5D8DF;
}

.pink-background {
    background-color: #EABAC8;
}

.red-background {
    background-color: #C02F3A;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

input[type="checkbox"] {
    width: 0px;
    accent-color: #C02F3A;
}
.opcion-boda:hover {
    background-color: #EABAC8;
}
@media (max-width: 800px) {

    ul {
        flex-direction: column;
    }

    .h-center {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .content-container {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .inner-container {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
    }

    .data-container {
        width: 80%; 
        text-align: center;
    }

    .details-data-container {
        margin: 1.5rem;
    }

    .map-container {
        margin: 0 auto;
        width: 100%;
    }

    #btn-menu {
        display: block;
        right: 0;
    }

    #btn-menu img {
        width: 25px;
        height: 25px;
    }

    #btn-form-submit {
        width: 80%;
        background-color: #eabac8;
        border: none;
        outline: none;
        border-radius: 30px;
        margin: 0 auto;
        cursor: pointer;
    }

    .background-div {
        padding: 16% 5%; 
    }

    #nav-menu-mobile {
        display: none;
        width: 100%;
        height: 100vh;
        z-index: 2;
        text-align: center;
    }

    #nombre-form {
        width: 100%;
    }

    li {
        font-size: 2rem;
    }

    .frameY {
        margin: 0 auto;
        width: 90%;
    }

    /* Portada */
    .portada-marcos-laterales {
        width: 13%;
        margin: 20% 0;
        height: 400px;
    }

    #portada-imagen {
        width: 60%;
        margin: 12% auto;
    }

    /* Detalles Civil */

    .titulos {
        font-size: 2rem;
    }
}